
span.highlighted_content {
    color: #795548;
}
h2.content_heading {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 1rem;
}
ul.info_wrapper {
    list-style: none;
    margin-bottom: 30px;
}
ul.info_wrapper li{
padding:8px 0px;
border-bottom: 1px solid #795548
}
ul.info_wrapper li:last-child{
    border:none;
}
ul.info_wrapper li span
{
  font-weight: 600;
  color:#000;
}
.About_content_wrapper {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    gap: 50px;
}
a.secondary_btn {
    background: #795548;
    color: #fff;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
  	transition: 0.4s all ease-in-out;
    border: 2px solid #795548;
}
a.secondary_btn:hover
{
  background:#fff;
  color: #795548
}

.count_grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
  margin-top: 30px;
}

.counter_col {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}
.counter_col:not(:last-child)
{
  border-right: 2px dashed #795548;
}
h3.number_data {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 45px;
}
@media (max-width: 768px)
{
  .About_content_wrapper
  {
    grid-template-columns:1fr;
    gap:20px
  }
  .count_grid {
   
    margin-top: 60px;
}
  p.main_text {
    font-size: 28px;
    line-height: 32px;
}
  
}
@media (min-width: 320px) and (max-width:500px)
  {
     
    .count_grid {
   
    grid-template-columns: repeat(1,1fr);
    margin-top: 30px;
    gap:20px
}
    .counter_col:not(:last-child)
    {
      border-right: unset;
      border-bottom: 2px dashed #795548 
    }
}