.About_heading {
    text-align: center;
    position: relative;
    margin-bottom: 3rem;
}
h2.background_text {
    font-size: 7.6rem;
    line-height: 102px;
  color:#343a4030;

}
p.main_text {
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
  color:#111418;
    transform: translate(-50%, -50%);
    
    line-height: 54px;
    
}
span.headin_border_span {
  	margin-top:20px;
    display: block;
    background: #795548;
    width: 80px;
    height: 3px;
    margin: 0 auto 0;
}
@media (max-width: 768px)
{
  
  p.main_text {
    font-size: 28px;
    line-height: 32px;
}
  h2.background_text {
    font-size: 4.6rem;
    line-height: 44px;
    color: #343a4030;
}
}
@media (min-width: 320px) and (max-width:500px)
  {
     p.main_text {
    font-size: 28px;
    line-height: 32px;
      width:100%;
}
  h2.background_text {
    font-size: 3rem;
    line-height: 44px;
    color: #343a4030;
    width:100%;
    opacity: 0.5;
}

}