.Hero_section{
    height: 100vh;
    background: #000
}
.hero_section-wrapper {
    height: 100%;
}
.hero_background.fixed_bg {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: left center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
}

.hero_section-wrapper {
    display: flex;
    
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
    position: relative;
    height: 100%;
    justify-content: center;
}
.hero_content_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
h2.hero_heading {
    font-size: 52px;
    line-height: 54px;
    color: #fff;
}

p.sub-heading {
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
}
p.hero_content {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: #fff;
}
a.btn {
    background: transparent;
    padding: 15px 30px;
    border-radius: 35px;
    border: 2px solid #111418;
}
.btn
{
  position:relative;
  z-index:1;
  overflow:hidden;
}

.btn:before
{
  content:"";
  background:#111418;
  position:absolute;
  width: 0%;
  height:100%;
  top:0px;
  left:0px;
  z-index:-1;
  transition: width 0.3s ease-in-out;
}
.btn:hover:before
{
  
  width: 100%;
  
}
a.btn_text {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    line-height: 20px;
}

@media (max-width: 550px)
{
  .hero_content_wrapper{
  gap:30px;
    margin-top:50px;
  }
  p.sub-heading {
    font-size: 22px;
    line-height: 26px;
}
  h2.hero_heading {
    font-size: 32px;
    line-height: 38px;
}
  p.hero_content {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
}