.portfolio_wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.portfolio_sites {
    padding: 2rem 1rem;
    border: 2px solid #795548;
    border-radius: 15px;
    text-decoration: none;
    color: #fff;
}
img.site_logos {
    width: 100%;
    height: 120px;
    object-fit: scale-down;
}
.site_image_wrapper {
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 15px;
}
span.site_cms {
    background: #795548;
    padding: 8px 11px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 14px;
}
h2.site_title {
    margin: 30px 0px 15px;
    font-size: 24px;
    line-height: 30px;
}
@media (max-width: 550px)
{
  .portfolio_wrapper {
    grid-template-columns: repeat(1,1fr);
}
}
@media (min-width:551px) and (max-width: 991px)
{
  .portfolio_wrapper {
    grid-template-columns: repeat(2,1fr);
}
}